body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vh;
  border-radius: 5px;
  border: 0.5px solid lightslategray;
}

.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 200px;
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

button {
  width: 230px;
  background-color: lightslategrey;
  border: 1px solid lightslategray;
  outline: none;
  border-radius: 20px;
  padding: 13px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: lightslategray;
  position: absolute;
  top: 15px;
  right: 20px;
}
